In [121]:
import numpy as np
import pandas as pd
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1606,tt0343135,42000000,171963386,Along Came Polly,Ben Stiller|Jennifer Aniston|Philip Seymour Ho...,John Hamburg,"For the most cautious man on Earth, life is ab...",Reuben Feffer is a guy who's spent his entire ...,90,Comedy|Romance,Universal Pictures|Jersey Films|Loofah Product...,1/16/2004,5.7,2004
557,tt0221218,30000000,23619609,The Glass House,Leelee Sobieski|Diane Lane|Stellan SkarsgÃ¥rd|...,Daniel Sackheim,The glass is about to be shattered...,After the parents of Ruby and her younger brot...,106,Drama|Thriller,Original Film,9/14/2001,5.3,2001
1576,tt0289879,13000000,96060858,The Butterfly Effect,Ashton Kutcher|Amy Smart|William Lee Scott|Eld...,Eric Bress|J. Mackye Gruber,"Such minor changes, such huge consequences.",A young man struggles to access sublimated chi...,113,Science Fiction|Thriller,New Line Cinema|FilmEngine|Katalyst Films|Bend...,1/22/2004,7.1,2004
512,tt0133152,100000000,362211740,Planet of the Apes,Mark Wahlberg|Tim Roth|Helena Bonham Carter|Mi...,Tim Burton,You'll be sorry you were ever born human,After a spectacular crash-landing on an unchar...,119,Thriller|Science Fiction|Action|Adventure,Twentieth Century Fox Film Corporation|Tim Bur...,7/25/2001,5.5,2001
181,tt2024469,50000000,222809600,Non-Stop,Liam Neeson|Julianne Moore|Scoot McNairy|Miche...,Jaume Collet-Serra,The hijacking was just the beginning.,Bill Marks is a burned-out veteran of the Air ...,106,Action|Thriller|Mystery,StudioCanal|Silver Pictures|TF1 Films Producti...,1/26/2014,6.8,2014

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # for answers

In [5]:
# The time given in the dataset is in string format.
# So we need to change it into datetime format
data['release_date'] = pd.to_datetime(data['release_date'])

# Removing unwanted zeros
data['release_year'] = pd.to_numeric(data['release_year'], downcast='integer')

# adding a column: film profit counting
data['profit'] = data['revenue'] - data['budget']

# film profit counting -- adding a column
data['profit'] = data['revenue'] - data['budget']

In [47]:
# Also, for our purposes, let's expand (or explode) the contents of cells that contain several elements each.

# exploding actors
cast_expl = data.copy()
cast_expl["cast"] = cast_expl["cast"].apply(lambda s: str(s).split('|'))
cast_expl = cast_expl.explode("cast")

# exploding film directors
director_expl = data.copy()
director_expl["director"] = director_expl["director"].apply(lambda s: str(s).split('|'))
director_expl = director_expl.explode("director")

# exploding film genres
genres_expl = data.copy()
genres_expl["genres"] = genres_expl["genres"].apply(lambda s: str(s).split('|'))
genres_expl = genres_expl.explode("genres")

# exploding production companies
production_companies_expl = data.copy()
production_companies_expl["production_companies"] = production_companies_expl["production_companies"].apply(lambda s: str(s).split('|'))
production_companies_expl = production_companies_expl.explode("production_companies")

# 1. У какого фильма из списка самый большой бюджет?

In [10]:
# в словарь вставляем номер вопроса и ответ на него

answers[1] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [24]:
# находим максимальный бюджет (в соответствующей колонке), а показываем колонку с названием:

data[(data.budget == data.budget.max())].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [26]:
# иногда хочется увидеть всю строку:
data[(data.budget == data.budget.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:

answers[2] = '2. Gods and Generals (tt0279111)'

In [31]:
# находим самое большое количество минут (в соответствующей колонке) и показываем колонку с названием:
data[(data.runtime == data.runtime.max())].original_title

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [33]:
# находим самое маленькое количество минут (в соответствующей колонке) и показываем колонку с названием:
data[(data.runtime == data.runtime.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011

In [12]:
answers[3] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [35]:
# берем ту же колонку и вычисляем среднее
data.runtime.mean()

109.6585494970884

In [13]:
answers[4] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [37]:
# берем опять эту колонку и вычисляем медианное значение
data.runtime.median()

107.0

In [14]:
answers[5] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [46]:
# Берем из Предобработки созданную там дополнительную колонку, и находим строчку с максимальным значение в ней.

data[(data['profit'] == data.profit.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847

In [16]:
answers[6] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [48]:
# также, только с минимальным значением в profit
data[(data['profit'] == data.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [17]:
answers[7] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [53]:
#  находим положительную прибыль и считаем кол-во строк (они здесь соответвуют кол-ву фильмов)
data[(data['profit'] > 0)].profit.count()

1478

In [18]:
answers[8] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

### Вариант 1

In [445]:
# Немного громоздко... В 2 этапа:

# Создаем переменную с фильмами 2008 года, находим максимальную выручку
q9 = data[(data['release_year'] == 2008)].revenue.max()
q9

In [450]:
# Находим строчку с этой выручкой и смотрим название фильма
data[(data['revenue'] == q9)].original_title

599    The Dark Knight
Name: original_title, dtype: object

### Вариант 2

In [77]:
# А так -- покомпактней...
data[data['revenue'] == data[(data.release_year == 2008)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825

In [19]:
answers[9] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [314]:
# Находим по двум условиям нужный временной период и находим строку с минимумом столбца прибыли. 
# Прибыль глубоко отрицательная!

data[data['profit'] == data[(data.release_year >= 2012) & (data.release_year <= 2014)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090

In [20]:
answers[10] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [119]:
# Лидер чиcтых жанров - Comedy. Но посчитаем еще и внутри смежных
data['genres'].value_counts().index[0]

'Comedy'

ВАРИАНТ 2

In [177]:
# Объединяем все ячейки с жанрами через разделитель '|', который используется внутри ячеек. 
# А потом -- делим их тем же разделителем и собираем в новую серию. 
# Сортируем по количеству получившихся элементов. Берем первую пятерку полюбоваться.

pd.Series(data['genres'].str.cat(sep='|').split('|')).value_counts()[:5]

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

In [21]:
answers[11] = '3. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [307]:
# Отсеиваем только жанры с положительной прибылью.
# Применяем к ним раздеоение по вертикальной черте, раскрываем содержимое сложных ячеек.
# Считаем, сколько каких жанров у нас есть. И вывоодим первое (оно же максималное) значение.
data[(data['profit'] > 0)].genres.apply(lambda s: str(s).split('|')).explode().value_counts().index[0]

'Drama'

In [22]:
answers[12] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [349]:
# Группируем по режиссеру, суммируя. Оставляем бюджеты, сортируем по не-возрастанию, обращаемся к имени первого индекса.
director_expl.groupby(['director']).sum().budget.sort_values(ascending=False).index[0]

'Peter Jackson'

In [23]:
answers[13] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [303]:
# Отсеиваем только строки, содержащие (в ячейках столбца с жанрами) слово "Action".
# Применяем к столбwe с режиссерами разделение сложных ячеек по вертикальной черте, раскрываем содержимое.
# Считаем, сколько каких режиссеров у нас есть. И обращаемся к имени первого индекса.

data[(data.genres.str.contains("Action"))].director.apply(lambda s: str(s).split('|')).explode().value_counts().index[0]

'Robert Rodriguez'

In [24]:
answers[14] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [352]:
# Фильтруем по году, группируем по режиссеру, суммируя. оставляем кассовые сборы, сортируем по не-возрастанию, 
# обращаемся к имени первого индекса.
cast_expl[(cast_expl.release_year == 2012)].groupby(['cast']).sum().revenue.sort_values(ascending=False).index[0]

'Chris Hemsworth'

In [25]:
answers[15] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?
(где бюджет выше среднего)

In [356]:
# Берем датафрейм с обработанными актерами из Предобработки. 
# Отсеиваем строки с бюджетом выше среднего. 
# Берем столбец с актерами и считаем актеров!

cast_expl[(cast_expl.budget > cast_expl.budget.mean())].cast.value_counts().index[0]

'Matt Damon'

In [26]:
answers[16] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [432]:
# Берем датафрейм с обработанными жанрами из Предобработки. 
# Отсеиваем строки, содержащие искомого акттера. 
# Берем столбец с жанрами и тремя его любимыми (жанрми). Записываем верхнюю строчку.

genres_expl[(genres_expl.cast.str.contains("Nicolas Cage"))].genres.value_counts().head(3)

Action      17
Thriller    15
Drama       12
Name: genres, dtype: int64

In [27]:
answers[17] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

ВАРИАНТ 1

In [454]:
# Создаем переменную, в которой: строки содержат название искомой компании 9в соотвествующейм столбце,
# находим максимальную прибыль.
# Затем находим строчку со значением этой переменной и смотрим название фильма.

q18 = data[(data.production_companies.str.contains("Paramount Pictures"))].profit.min()
data[(data['profit'] == q18)].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

ВАРИАНТ 2

In [459]:
# Выбираем в нужной колонке нужную компанию, сортируем по столбцу прибыли, 
# а показываем столбец с названиями, выбирая в нем первую позицию.

data[(data.production_companies.str.contains("Paramount Pictures"))].sort_values(by='profit',ascending=True).original_title.iloc[0]

'K-19: The Widowmaker'

In [28]:
answers[18] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [482]:
# Группируем по году, суммируя. Оставляем бюджеты, сортируем по не-возрастанию, обращаемся к имени первого индекса.
data.groupby(['release_year']).sum().revenue.sort_values(ascending=False).index[0]

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [29]:
answers[19] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [515]:
# В переменную отбираем в нужном столбце нужную компанию, 
# Группируем все по году, суммируя профиты. 
# Сортируем по значениям (по не-возрастанию), берем нулевой индекс.

warner = data[(data.production_companies.str.contains("Warner Bros"))]
warner.groupby(["release_year"]).profit.sum().sort_values(ascending=False).index[0]

2014

In [30]:
answers[20] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [140]:
# В заранее преобразованном столбце с датой берем только месяцы и считаем их. 
# Выводим нулевой индекс (с максимальным значением).

data["release_date"].dt.month.value_counts().index[0]

9

In [31]:
answers[21] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [155]:
# В столбце с датой берем через оператор "or" только летние месяцы 
# и считаем количество строк, например, по названиям фильмов. 

data[(data.release_date.dt.month == 6) | (data.release_date.dt.month == 7) | (data.release_date.dt.month == 8)].original_title.count()

450

In [32]:
answers[22] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [94]:
# Выбираем зимние месяцы, выделяем колонку с режиссерами и считаем кол-во фильмов по каждому режиссеру.

director_expl[(director_expl.release_date.dt.month == 12) | (director_expl.release_date.dt.month == 1) | (director_expl.release_date.dt.month == 2)].director.value_counts().index[0]

'Peter Jackson'

In [33]:
answers[23] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [86]:
# Посчитаем среднее значение кол-ва символов по всем фильмам компаний.

# Добавляем колонку с длинной строк по колонке с названиями. Группируем по компаниям, применяя среднее.
# Сортируем по добавленной колонке. Берем нулевой индекс. 

production_companies_expl['orig_title_length'] = production_companies_expl.original_title.apply(lambda x: len(x))
production_companies_expl.groupby(['production_companies']).mean().sort_values(by='orig_title_length', ascending=False).index[0]

'Four By Two Productions'

In [65]:
# А у этой компании всего один фильм!
production_companies_expl[(production_companies_expl.production_companies == 'Four By Two Productions')]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,orig_title_length
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Four By Two Productions,2006-11-02,6.4,2006,243572744,83

In [76]:
# Вот этот фильм:
data.iloc[1448]['original_title']

'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan'

In [77]:
answers[24] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [91]:
# Добавляем колонку с длинной строк по колонке с названиями. Группируем по компаниям, применяя среднее.
# Сортируем по добавленной колонке. Берем колонку с компаниями. 

production_companies_expl['overview_words_num'] = production_companies_expl.overview.apply(lambda x: len(str.split(x)))
production_companies_expl.groupby(['production_companies']).mean().sort_values(by='overview_words_num', ascending=False).index[0]

'Midnight Picture Show'

In [92]:
answers[25] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [205]:
# Находим верхнюю границу в 1%.
# А затем по ней фильтруем фильмы, у которых рейтинг выше нее.
# Берем столбец с названиями.

data[(data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average'])].original_title

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [34]:
answers[26] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [172]:

# Создаем переменную, в  которой будет актерский столбец с превращенными в список ячейками.
# Делаем в кажой ячейке комбинации актеров, сортируя. Суммируем значения ячеек.
# Помещаем все это в Counter и находим самые сладкие парочки!


cast_pairs = data["cast"].apply(lambda s: str(s).split('|')).apply(lambda i: list(combinations(sorted(i), 2))).values.sum()
#cast_pairs.iloc[0]

# Считаем ,сколько раз, та или иная пара присутствует в датасете (т.е. получим количество фильмов, 
# в которых снималась отдельно взятая пара). Можно это сделать 2 способами:
# 1. explode + value_counts 
# 2. конкатенация значений всех ячеек столбца cast + передача результата в Counter


Counter(cast_pairs).most_common(5)

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

In [ ]:
answers[27] = '5. Daniel Radcliffe & Rupert Grint'

# Submission

In [95]:
# в конце можно посмотреть свои ответы к каждому вопросу

#OrderedDict(answers)
#answers
pd.Series(answers).sort_index()

1     5. Pirates of the Caribbean: On Stranger Tides...
2                      2. Gods and Generals (tt0279111)
3                        3. Winnie the Pooh (tt1449283)
4                                                2. 110
5                                                1. 107
6                                 5. Avatar (tt0499549)
7                        5. The Lone Ranger (tt1210819)
8                                               1. 1478
9                        4. The Dark Knight (tt0468569)
10                       5. The Lone Ranger (tt1210819)
11                                             3. Drama
12                                             1. Drama
13                                     5. Peter Jackson
14                                  3. Robert Rodriguez
15                                   3. Chris Hemsworth
16                                        3. Matt Damon
17                                            2. Action
18                  1. K-19: The Widowmaker (tt0267626)
19                                              5. 2015
20                                              1. 2014
21                                          4. Сентябрь
22                                               2. 450
23                                     5. Peter Jackson
24                           5. Four By Two Productions
25                             3. Midnight Picture Show
26     1. Inside Out, The Dark Knight, 12 Years a Slave
dtype: object

In [8]:
# и убедиться что ни чего не пропустил)
len(answers)

0